# Server Configuration
PORT=5000
NODE_ENV=development

# Database
# Use your MongoDB Atlas connection string [cite: 10, 31]
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/gigflow

# Authentication
# Random string used to sign JWT tokens [cite: 12, 30]
JWT_SECRET=your_super_secret_jwt_key_here

# Deployment / Security
# The URL of your Vercel frontend (No trailing slash)
CLIENT_URL=http://localhost:5173